<mat-toolbar color="primary">
  <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  <span><a routerLink="/">Currency Exchanger</a></span>
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLinkActive="mat-accent">Exchanger</a>
    </li>
    <li>
      <a mat-button routerLinkActive="mat-accent">Login</a>
    </li>
    <li>
      <a mat-button routerLinkActive="mat-accent">Signup</a>
    </li>
    <li>
      <button mat-button>Logout</button>
    </li>
  </ul>
</mat-toolbar>
